body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

#events {
  list-style-type: none;
  padding: 0;
}

#events li {
  height: 58px;
  padding-left: 60px;
  border: solid 1px white;
}

#events li.delivered {
  background-color: #3B7A57;
}

#events li.inbound {
  background-color: #2E5894;
}

#events li.failure {
  background-color: #860111;
}