.clientMsg {
    max-height: 150px;
    overflow-y: scroll;
}
.serverMsg {
    max-height: 350px;
    overflow-y: scroll;
}

.text {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
}

.glyph{
  font-size: 20px;
  margin-right: 4px;
}